{% extends "base.html" %}
{% block content %}
<h2>Загрузить эскиз</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3">{{ form.style.label }} {{ form.style(class="form-select") }}</div>
    <div class="mb-3">{{ form.price.label }} {{ form.price(class="form-control") }}</div>
    <div class="mb-3">{{ form.image.label }} {{ form.image(class="form-control") }}</div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}